.results__container {
    padding: 20px 0;
    width: 100%;
    background-color: lightgray;
    height: 100%;
    min-height: 500px;
}

.results__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}


.movies {
    display: flex;
    flex-wrap: wrap;
    font-size: 60px;
    font-weight: bold;
    color: #6030b1;
    justify-content: center;
    text-align: center;
    background-color: lightgray;
    width: 100%;
}

.movies__loading {
text-align: center;
}

.movie__card {
    width: calc(100% / 3);
    padding: 24px;
}


.movie__img {
    /* height: 446px; */
    width: 100%;
    transition: all 300ms ease;
    border-radius: 4px;
}

.movie__img--skeleton {
    width: 100%;
    height: 446px;
    border-radius: 4px;
    background-color: rgb(142, 141, 141);
}

.movie__title,
.movie__year {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-top: 8px;
    color: black;
}

.movie__title {
    text-align: center;
    font-size: 24px;
}

.movie__year {
    font-size: 16px;
}

.movie__img:hover{
    transform: scale(1.03);
}

.movie__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6030b1;
    padding: 10px 32px;
    color: white;
    border-radius: 999px;
    text-decoration: none;
    margin: 8px auto;
    border: none;
}

.movie__btn:hover{
    background-color:#5d3eff;
    
}

.movie__title--skeleton {
    margin-top: 8px;
    height: 24px;
    width: 100%;
}

.spinner {
    animation: rotate 800ms infinite linear;
    font-size: 60px;
    color: #6030b1;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {

  /* h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 26px;
  } */

  .movie__card {
    width: 50%;
  }

  .nav__link--primary{
    display: none;
  }
}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {

  .nav__link--list{
    flex-direction: column;
    align-items: center;
    line-height: 2;
  
  }  
  .filter-bar{
    flex-direction: column;
    text-align: center;
  }
  .movie__card {
    width: 100%;
  }
  .search {
    display: block;
  }
}