.results-container {
    padding: 20px 0;
    width: 100%;
    background-color: lightgray;
    height: 100%;
}

.results-row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}





.movies {
    display: flex;
    flex-wrap: wrap;
    font-size: 60px;
    font-weight: bold;
    color: #6030b1;
    justify-content: center;
    text-align: center;
    background-color: lightgray;
    width: 100%;
}

.movie__card {
    width: calc(100% / 3);
    padding: 24px;
}


.movie__img{
    max-height: 446px;
    width: 100%;
    transition: all 300ms ease;
    border-radius: 4px;
}

.movie__title,
.movie__year {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-top: 8px;
    color: black;
}

.movie__title{
    text-align: center;
    font-size: 24px;
}

.movie__year {
    font-size: 16px;
}

.movie:hover .movie__img{
    transform: scale(1.03);
}

.movie__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6030b1;
    padding: 10px 32px;
    color: white;
    border-radius: 999px;
    text-decoration: none;
    margin: 8px auto;
    border: none;
}

.movie__btn:hover{
    background-color:#5d3eff;
    
}
