#movies__body {
  background-color: lightgray;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* .movies__main {
  flex: 1;
  background-color: rgb(248,249,250);
} */

.no--movies {
    font-size: 24px;
}

.movie__loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #6030b1;
    height: 400px;
    background-color: lightgray;
    gap: 48px;
}

.fa-spinner {
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.movies__container {
    padding: 80px 0;
}

.movies--row {
    max-width: 1100px;
    margin: 0 auto;
}

.movies__header--title {
  margin-bottom: 0;
}

.movie__selected--top {
  padding: 0 24px;
  margin-bottom: 36px;
  font-size: 32px;
  color: #6030b1;
  display: flex;
  align-items: center;
}

.movie__link {
    font-size: 28px;
    border: none;
    background: none;
    color: #6030b1;
    margin-right: 8px;
}

.movie__selected__title {
    font-size: 14px;
    
}

.movie__selected {
    display: flex;
}

.movie__selected--figure {
  width: 40%;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie__selected--img {
    max-height: 600px;
    border-radius: 4px;
    width: 100%;
}

.movie__selected--description {
  width: 60%;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.movie__selected--title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
}

.movie__selected--plot {
    font-size: 18px;
    margin-bottom: 12px;
}

.bold {
    font-weight: bold;
}
.movie__selected--year,
.movie__selected--rating,
.movie__selected--actors,
.movie__selected--genere,
.movie__selected--type {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 14px;
    line-height: 1.25;
}
.movie__selected--actors {
   line-height: 1.5;
}

.movie__selected--type {
    text-transform: capitalize;
}

.movie__reviews {
    width: 100%;
    margin-top: 8px;
}
.movie__ratings {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.movie__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    margin-top: 4px;
}

.movie__rating--value {
    font-weight: 100;
}


/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {

.movie__selected {
    display: block;
}

.movie__selected--figure {
    width: 100%;
    max-width: 395px;
    margin: 0 auto;
}

.movie__selected--description {
    width: 100%;
}

.movie__rating {
    text-align: center;
}
  
}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {

.movie__selected--top,
.movie__selected--title {
    font-size: 24px;
}

.movie__ratings,
.movie__rating {
    display: block;
    width: 80%;
   
    text-align: center;
}
  
}